<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClientReservasi.Properties.Settings.WCFReservasiConnectionString"
            connectionString="Data Source=LAPTOP-5RML75UV;Initial Catalog=WCFReservasi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>